In [45]:
# for loop 
# Creating a list

students=['prakash','sujit','nirdosh','sashi','abhimanyu','sachin','munna']
print(students)

['prakash', 'sujit', 'nirdosh', 'sashi', 'abhimanyu', 'sachin', 'munna']

In [4]:
for x in students:
    #print(x)
    # here x is temp. variable
    print(x.title())

Prakash
Sujit
Nirdosh
Sashi
Abhimanyu
Sachin
Munna

In [9]:
for student in students:
    print(f"{student.title()},you are doing good practice, keep it up!!")

Prakash,you are doing good practice, keep it up!!
Sujit,you are doing good practice, keep it up!!
Nirdosh,you are doing good practice, keep it up!!
Sashi,you are doing good practice, keep it up!!
Abhimanyu,you are doing good practice, keep it up!!
Sachin,you are doing good practice, keep it up!!
Munna,you are doing good practice, keep it up!!

In [11]:
for x in students:
    print(f"i will be looking forward for your practice file,{x.title()}")

i will be looking forward for your practice file,Prakash
i will be looking forward for your practice file,Sujit
i will be looking forward for your practice file,Nirdosh
i will be looking forward for your practice file,Sashi
i will be looking forward for your practice file,Abhimanyu
i will be looking forward for your practice file,Sachin
i will be looking forward for your practice file,Munna

In [15]:
# for making numerical list

for value in range(1,100):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [17]:
num=list(range(1,11))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
eve_num=list(range(2,20,2))
print(eve_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [31]:
for x in range(2,50,2):
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [30]:
for value in range(1,100,2):
    print(value)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [33]:
value

99

In [34]:
x

48

In [36]:
eve_num

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
min(eve_num)

2

In [38]:
max(eve_num)

18

In [39]:
sum(eve_num)

90

In [43]:
#print odd numbers from 101 to 999

odd_num=list(range(101,999,2))
#print(odd_num)
sum(odd_num)

246501